<section appScrollManager>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div fxHide.gt-xs>
          <button mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div>
          <a>
            Material Blog
          </a>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
              <a appScrollAnchor="one">
                <mat-icon class="icon">input</mat-icon>
                <span class="label">Login</span>
              </a>
            </li>
            <li>
              <a appScrollAnchor="two">
                <mat-icon class="icon">home</mat-icon>
                <span class="label">Home</span>
              </a>
            </li>
            <li>
              <a appScrollAnchor="three">
                <mat-icon class="icon">dashboard</mat-icon>
                <span class="label">Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </mat-toolbar>
      <main>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <section-one appScrollSection="one"></section-one>
  <section-one appScrollSection="two" color="blue"></section-one>
  <section-one appScrollSection="three" color="red"></section-one>
</section>